*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to right bottom, #985eae, #88185f);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fff;
}

.contact {
    background-color: #fdfdfd;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    text-align: center;
}

.contact h2 {
    background-color: tomato;
    color: white;
    padding: 0.5rem;
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 1rem;
}

.description {
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #555;
}

textarea {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 1rem;
    resize: none;
    font-size: 1rem;
    color: #333;
}

button {
    background-color: #88185f;
    color: #fff;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #985eae;
}
